<h1>HOME ~_~ Dog of Hometown</h1>
<p><%= @message %></p>
<a href="http://www.ucas.edu.cn/">Clik here to see the beauty in UCAS</a>
<h2>Time</h2>
<body>
<script type="text/javascript">
var today = new Date();
document.write('<h3>'+ today +'</h3>');
</script>
<a href="http://localhost:3000/greetings/bye">GoodBye</a>
</body>

