<h1>HOME ~_~ Dog of Hometown</h1>
<p><%= @message %></p>
<a href="http://www.ucas.edu.cn/">Clik here to see the beauty in UCAS</a>
<h2>Time</h2>
<p>
<strong><%= @today %></strong>
</p>
<%= link_to 'GoodBye', greetings_bye_path %>

